<h2 id="title">pianobar-rest-interface client</h2>
<fieldset style="float:left">
  <button class="paper-button md-default-theme md-button md-raised md-ink-ripple" {{action "play" on="mouseUp"}}>Play/Pause</button>
</fieldset>

<fieldset style="float:left">
    <label>Volume</label>
    <button class="paper-button md-default-theme md-button md-raised md-ink-ripple" {{action "volume" 1 on="mouseUp"}}>+</button>
    <button class="paper-button md-default-theme md-button md-raised md-ink-ripple" {{action "volume" -1 on="mouseUp"}}>-</button>
    <button class="paper-button md-default-theme md-button md-raised md-ink-ripple" {{action "volume" 0 on="mouseUp"}}>reset</button>
</fieldset>

<fieldset style="float:left">
    <label>Control Song</label>
    <button class="paper-button md-default-theme md-button md-raised md-ink-ripple" {{action "likeSong" on="mouseUp"}}>Like Song</button>
    <button class="paper-button md-default-theme md-button md-raised md-ink-ripple" {{action "nextSong" on="mouseUp"}}>Next Song</button>
    <button class="paper-button md-default-theme md-button md-raised md-ink-ripple" {{action "tiredOfSong" on="mouseUp"}}>Tired of Song</button>
    <button class="paper-button md-default-theme md-button md-raised md-ink-ripple" {{action "banSong" on="mouseUp"}}>Ban Song</button>
</fieldset>

<fieldset style="float:left;clear:left">
  {{#each stations as |station| }}
    <div style="min-width:200px">
      <button class="paper-button md-default-theme md-button md-raised md-ink-ripple" {{action "station" station.id on="mouseUp"}}>
        <h2>{{station.name}}</h2>
      </button>
    </div>
  {{/each}}
</fieldset>

{{outlet}}
